<div id="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 backgroundClear">
        <div id="site-background">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>
                      Data wizyty
                    </td>
                    <td>
                      {{visit.visitDate}}
                    </td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{visit.visitStatus}}</td>
                  </tr>
                  <tr>
                    <td>Samochód</td>
                    <td>{{visit.car.brandName}} {{visit.car.model}} {{visit.car.registrationNumber}}</td>
                  </tr>
                  </tbody>
                </table>
                <table class="table">
                  <thead class="thead-dark">
                  <th>Części:</th>
                  <th></th>
                  </thead>
                  <tbody *ngIf="visit.parts!==undefined">
                  <tr>
                    <td>
                      Nazwa części
                    </td>
                    <td>
                      Producent
                    </td>
                  </tr>
                  <tr *ngFor="let part of visit.parts">
                    <td>
                      {{part.name}}
                    </td>
                    <td>
                      {{part.producer}}
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table class="table">
                  <thead class="thead-dark">
                  <th>Usługi:</th>
                  </thead>
                  <tbody *ngIf="visit.services!==undefined">
                  <tr *ngFor="let service of visit.services">
                    <td>
                      {{service.name}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
